.choice-box:pressed{
    -fx-font-size: 15px;
    -fx-focus-color:E8E4DBFF ;
    -fx-background-radius: 50;
    -fx-border-color: lightgray;
    -fx-border-radius: 50;
}

.choice-box{
    -fx-font-size: 15px;
    -fx-focus-color: coral;
    -fx-background-color:floralwhite;
    -fx-background-radius: 50;
    -fx-border-color: lightgray;
    -fx-border-radius: 50;
}

.check-box{
    -fx-font-size: 15px;
    -fx-focus-color: coral;
}

.check-box >.box{
    -fx-background-color: floralwhite;
    -fx-background-radius: 50;
    -fx-border-color: lightgray;
    -fx-border-radius: 50;
}

.button:hover{
    -fx-opacity:0.9;
    -fx-background-color:rgb(230, 127, 80);
    -fx-text-fill: floralwhite;
    -fx-background-radius: 100;
}

.button{
    -fx-opacity:0.9;
    -fx-background-color: coral;
    -fx-text-fill: floralwhite;
    -fx-padding: 10 20;
    -fx-background-radius: 100 ;
    -fx-effect: dropshadow(gaussian,darkgray,8,0.01,2,2);
}

.text-field{
    -fx-background-radius: 50;
    -fx-focus-color: coral;

}

#BtNovaCompra{
    -fx-shape:"M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z";
}
#BtNovoCliente{
    -fx-shape: "M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 8c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H9zm-3-3v-3h3v-2H6V7H4v3H1v2h3v3z";
}
#BtNovoFuncionario{
    -fx-shape: "M9 12c1.93 0 3.5-1.57 3.5-3.5S10.93 5 9 5 5.5 6.57 5.5 8.5 7.07 12 9 12zm0-5c.83 0 1.5.67 1.5 1.5S9.83 10 9 10s-1.5-.67-1.5-1.5S8.17 7 9 7zm.05 10H4.77c.99-.5 2.7-1 4.23-1 .11 0 .23.01.34.01.34-.73.93-1.33 1.64-1.81-.73-.13-1.42-.2-1.98-.2-2.34 0-7 1.17-7 3.5V19h7v-1.5c0-.17.02-.34.05-.5zm7.45-2.5c-1.84 0-5.5 1.01-5.5 3V19h11v-1.5c0-1.99-3.66-3-5.5-3zm1.21-1.82c.76-.43 1.29-1.24 1.29-2.18C19 9.12 17.88 8 16.5 8S14 9.12 14 10.5c0 .94.53 1.75 1.29 2.18.36.2.77.32 1.21.32s.85-.12 1.21-.32z";
}

#TxNegocios{
    -fx-text-fill: coral;
    -fx-padding: 10 20;
    -fx-background-radius: 100 ;
    -fx-effect: dropshadow(gaussian,darkgray,8,0.01,2,2);
}

#TxUnesp{
    -fx-text-fill: coral;
    -fx-padding: 10 20;
    -fx-background-radius: 100 ;
    -fx-effect: dropshadow(gaussian,darkgray,8,0.01,2,2);
}
.menu-bar{
    -fx-focus-color: coral;
    -fx-background-color:floralwhite;
    -fx-border-color: lightgray;
}
/*.menu-item{*/
/*    -fx-focus-color: coral;*/
/*    -fx-background-color:floralwhite;*/
/*    -fx-background-radius: 50;*/
/*    -fx-border-radius: 50;*/

/*}*/
#TxCadastroVend{
    -fx-text-fill: coral;
    -fx-padding: 10 20;
    -fx-background-radius: 100 ;
    -fx-effect: dropshadow(gaussian,darkgray,8,0.01,2,2);
}
.root{
    -fx-background-color: white;
}

